<label for="subjectsEditable">Edit</label>
<input type="checkbox" ng-model="subjectsEditable" id="subjectsEditable">

<div ng-show="subjectsEditable">
    <h2>Add Subject:</h2>
    <input placeholder="Subject Code" ng-model="newSubject.code">
    <input placeholder="Subject Caption" ng-model="newSubject.caption">
    <button type="button" ng-click="addSubject()" class="btn btn-primary">Add</button>
</div>


<ul id="subjects" ng-show="subjects">
    <li ng-repeat="subject in subjects">
        <div>
            <input placeholder="CODE" ng-model="subject.code" ng-disabled="!subjectsEditable">
            <input placeholder="CAPTION" ng-model="subject.caption" ng-disabled="!subjectsEditable">
            <button ng-show="subjectsEditable" class="btn btn-link" ng-click="deleteSubject(subject.$id)">
                Delete
            </button>
        </div>
    </li>
</ul>
<button ng-show="subjectsEditable" class="btn btn-success" ng-click="saveSubjects()">Save</button>